{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "max-len": ["error", 150],
        "indent": ["error", 4],
        "experementalDecorators": 0,
        
        // react
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": 0
    }
}