{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": ["airbnb"],
    "rules": {
        "max-len": ["error", 125],
        "indent": ["error", 4],

        "arrow-parens": ["error", "as-needed"],
           
        // react
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": 0,
        "react/prefer-stateless-function": 0,
        // import
        "import/no-extraneous-dependencies": 0
    }
}